name: ci

on:
  push:
    tags:
      - "v*.*.*"
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.14.1

      - name: Check formatting
        run: zig fmt --check .

      - name: Build for Windows
        run: zig build -Doptimize=ReleaseFast -Dcpu=baseline

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/') && github.repository == 'shilangyu/scoop-search'
        with:
          files: |
            zig-out/bin/scoop-search.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
